body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  background: #191a23;
}

/* Global */
.btn-primary {
  background: #f03636;
  border: #f03636;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 0;
  margin-top: 0;
  min-height: 100px;
  background: #9f2f35;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f03636;
}

/* Nav */
nav {
  z-index: 1;
  width: 100%;
  position: absolute;
  min-height: 70px;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: right;
  margin-right: 10px;
}

/* Index */
#bg {
  height: 100vh;
  background-image: url("images/cave.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#index {
  position: relative;
  top: 300px;
  width: 275px;
  height: 275px;
  margin: 0 auto;
}

#index p {
  margin-top: 20px;
}

#title {
  color: #f03636;
}

/* Card */
.card {
  color: black;
  margin: 50px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.card-text-wrapper {
  height: 150px;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-title {
  border-bottom: 1px solid #9f2f35;
}

/* HandlePDF Button */
#handlePDFButton:hover,
.row a:hover {
  background: #9f2f35;
  border: none;
}

#handlePDFButton {
  color: white;
  border-radius: 5px;
  border: none;
  background: #f03636;
  margin-bottom: 10px;
}

/* Contact */
.contact a:hover {
  text-decoration: underline;
}
